extends ../layout

block content
	.posts-reader
		.channel-list
			ul.list-group.scrollable
				li.list-group-item
					a(href='/posts') All
				each channel,i in channels
					li.list-group-item
						a(href='/channel/'+channel.job+'/posts')= channel.title
						if channel.new > 0
							span.badge= channel.new

		.posts
			.post-list.scrollable
				header.channel-title
					h3= channel ? channel.title : 'All'

				include post

				ul.pager
					if page > 1
						li.previous
							a(href='?page='+(page*1-1)) &larr; Newer
					if count > page*20
						li.next
							a(href='?page='+(page*1+1)) Older &rarr;

	